.gradient-custom {
    /* fallback for old browsers */
    background: #e7880b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(234, 129, 8), rgb(39, 21, 3));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(227, 127, 12), rgb(39, 21, 3))
    }